@keyframes pop-up {
    0% {
        opacity: 0.0;
        transform: scale(2.0);
        margin-top: 300px;
    }
}

@keyframes slide-down {
    0% {
        opacity: 0.8;
        margin-top: -400px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.0;
    }
}
